<!DOCTYPE html>
<html>
  <head>
    <title>Kabobs Premium Kebab</title>

    <meta charset="utf-8">
    <meta name="description" content="Kabobs Premium Kebab - Sajian Kebab Lezat & Premium">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Ganti favicon/logo -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/LogoKabobs.png" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
